{% extends 'layout.html' %}
    {% block sidebar %}
      <aside class="sidebar">
        <a href="/">Back to Home</a>
      </aside>
      {% endblock %}
      {% block main_content %}
      <section class="not-sidebar">
        <h1>Upload</h1>
        <p>Please login with your bucks.local account to use this site</p>
        <form method="post">
          <label
            >Email
            <input type="email" name="email" />
          </label>
          <label
            >Password
            <input type="password" name="password" />
          </label>
          <input type="submit" />
        </form>
      </section>
{% endblock %}
